*{
    margin: 0px;
    padding: 0px;
}
    #wrapper{
    width: 950px;
    background-color: silver;
    margin: 20px auto;
    height: 568px;
    padding-top: 10px;
    }
    #header{
    min-height: 120px;
    background-color: green;
    width: 915px;
    margin: 10px;
    }
    #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 12px;
    }
    #main_content{
    width: 700px;
    min-height: 400px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    }
    .subcontents{
    min-height: 200px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    margin: 12px;
    }
    #advertisement{
    min-height: 100px;
    width: 660px;
    background-color: purple;
    margin: 12px;
    }
